*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */
body {
    min-width: 500px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
/* fine body */

/* container */
#wrapper {
    width: 100%;
    height: 100vh;
    background-color: black;
}

.container-nav {
    height: 100%;
    width: 300px;
    min-height: 480px;
    background-color: #000000;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    color: white;
}

.container-main-right {
    height: 100%;
    width: calc(100% - 300px);
    background-color: #1A253A;
}

.container-footer {
    width: 100%;
    height: 100% ;
    background-color: #1C1C1C;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
/* fine container */

/* main */
main {
    height: calc(100% - 100px);
    overflow: hidden;
}

.logo {
    width: 300px;
    height: 10%;
}

.main-nav-home {
    width: 300px;
    height: 15%;
}

.main-nav-home nav a:hover {
    border-bottom: 2px solid green;
}

.main-nav-playlist {
    width: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 60%;
}

.main-nav-playlist .scroll-list {
    height: 30%;
    overflow-y: scroll;
    margin-top: 20px ;
}

.main-nav-playlist .lista-playlisy {
    width: 40%;
    height: 100%;
}

.lista-playlisy  ul {
    list-style: none;
}

.main-nav-playlist nav ul li a {
    font-size: 13px;
}

.main-nav-bottom {
    width: 300px;
    height: 100px;
    margin: 0 10px;
    position: relative;
    bottom: 38%;
}
/* fine main */

/* footer */
footer {
    height: 100px;
    width: 100%;
}

.footer-left {
    height: 100%;
    width: 25%;
}

.footer-center {
    height: 100%;
    width: 50%;
}

.footer-right {
    height: 100%;
    width: 25%;
}
/* fine footer */

/* common container nav */
.float-left {
    float: left;
}

.logo-spotify {
    width: 70%;
    height: 80%;
    vertical-align: middle;
    padding: 5px;
}

.logo-home {
    width: 10%;
    height: 20%;
    vertical-align: middle;
    padding: 5px;
}

.main-nav-home a {
    color: white;
    text-decoration: none;
    font-size: 13px;
    padding: 5px;
}

.main-nav-playlist a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    padding: 5px;
}

.main-nav-bottom a {
    color: lightgray;
    text-decoration: none;
    font-size: 15px;
}

.logo-bottom {
    width: 7%;
    vertical-align: middle;
}

#logo-user {
    font-size: 30px;
    vertical-align: middle;
    padding-right: 10px;
    padding-left: 5px;
}

.playlist {
    padding: 10px 0;
    font-size: 15px;
}

#add {
    font-size: 50px;
    vertical-align: middle;
}

.line {
    height: 2px;
    background-color: lightgray;
    border-radius: 10px;
    width: 87%;
    margin: 10px
}
/* fine common container nav */

/* container main right */
#main-music {
    width: 100%;
    height: 100%;
    overflow-x: scroll;
}

.bar-top {
    width: 100%;
    height: 100px;
    background-color:  #111825;
}

#upgrade {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 5px;
    font-size: 10px;
    height: 100px;
    position: fixed;
    right: 0;
} 

.btn-upgrade {
    color: white;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px;
}

/* music library */
.dischi {
    padding: 10px;
}

.dischi img {
    object-fit: cover;
}

.box-img {
    width: 100%;
    position: relative;
}

.box-play {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.music-library {
    width: 100%;
    height: 400px;
}

.type-song {
    font-size: 20px; 
    margin: 0 10px;  
}

.title-song {
    font-size: 12px; 
    width: 160px;
    display: flex;
    justify-content: center;
    margin: 10px 5px;
    vertical-align: middle;
}

.subtitle-type {
    font-size: 8px; 
    margin: 0 10px;
    vertical-align: middle;
    color: lightgray;
}

.subtitle-song {
    font-size: 8px; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    vertical-align: middle;
    color: lightgray;
}

.img-library {
    margin: 0 10px;
}

.img-library-center {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    left: 0;
    margin: 0 10px;
}

.img-recently {
    height: 170px;
    vertical-align: middle;
}

.img-artist {
    height: 170px;
    vertical-align: middle;
    border-radius: 100px;
}
/* fine music library */

/* music library nav */
.music-library-nav {
    text-decoration: none;
    list-style: none;
    width: 100%;
    height: 50px;
    font-size: smaller;
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
} 

.music-library-nav a:hover {
    border-bottom: 2px solid green;
}

.music-library-nav ul {
    list-style: none;
}

.music-library-nav li a {
    padding: 10px;
    text-decoration: none;
}
/* fine music library nav */
/* fine container main right */

/* container footer */
.brano {
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin: 25px 0;
}

.brano-center-top {
    display: flex;
    justify-content: space-around;
    align-content: center;
    
}

.brano-center-bottom {
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin: 0 65px;
}

.img-sinister {
    height: 60px;
    vertical-align: middle;
}

.title {
    color: white;
}

.title-nome,
.icon {
    color: lightgray; 
}

.icon,
.icon-left {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    margin: 15px 0;
}

.icon-left {
    width: 20%;
}

.icon-center {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    margin: 10px 0;
}

.play {
    font-size: 30px;
}

#progress-bar-center {
    height: 8px;
    background-color: lightgray;
    border-radius: 10px;
    width: 400px;
}

#progress-bar-right {
    height: 8px;
    background-color: lightgray;
    border-radius: 10px;
    width: 200px;
}

.progress {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* fine container footer */

/* media query */
/* FINO A 600PX */
@media screen and (max-width: 600px) {
    main .container-nav {
        width: 50px;
    }

    main .container-main-right {
        width: calc(100% - 50px);
    }
}
/* FINE FINO A 600PX */

/* FINO A 500PX */
@media screen and (max-width: 500px) {
    .mobile {
        background-image: url(../img/logo-small.svg);
        text-align: center;
        height: 50px;
        background-color: green;
        background-blend-mode: color-dodge;
    } 
}
/* FINE FINO A 500PX */
/* fine media query */

/* hover dischi */
.box-img {
    display: inline;
}

.box-play {
    display: none;
}

.dischi:hover .box-img {
    display: inline;
}

.box-img:hover .box-play {
    display: inline;
    text-align: center;
}

.disco {
    font-size: xxx-large;
}

/* fine hover dischi */
